.header {
    background-color: #F6F6F7;
    color: #888888;
    height: 24px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding-right: 40px;
}

.body {
    display: flex;
    color: #222222;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    font-size: 18px;
}

.price {
    font-weight: bold;
}

.description {
    color: #888888;
}

.size {
    color: #888888;
}

.image {
    width: 50%;
}

.addButton {
    width: 150px;
    height: 45px;
    color: #222222;
}